.navbar {
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(70px, auto);
    border-bottom: 3px dotted #fff;
    border-radius: 10px;
    margin-bottom: 2px;
    line-height: 3;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
}

.navbar .logo {
    font-size: 30px;
    color: whitesmoke;
    text-shadow: 3px 4px red;
    text-decoration: none;
    margin-left: 20px;
    font-family: 'Indie Flower';
}

.navbar .menuList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menuList li {
    float: left;
    padding: 16px 16px;
}

.navbar .menuList .link {
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    font-style: bold;
    font-size: 1.1rem;
    cursor: pointer;
}

.navbar .menuList li:hover {
    text-decoration: underline;
}

/* Toggle button */

.navbar .toggleMenu {
    display: none;
    background-color: inherit;
    height: 30px;
    font-size: 16px;
    margin-top: 10px;
    outline: none;
    width: 120px;
    margin-left: 30px;
    border: none;
}

/* for small screens */

@media(max-width: 768px) {
    .navbar {
        position: relative;
    }
    .navbar .toggleMenu {
        position: absolute;
        right: 0;
    }
    .navbar .logo {
        font-size: 23px;
        line-height: 2.5;
    }
    .navbar .toggleMenu {
        display: block;
        color: white;
    }
    .navbar {
        background-color: black;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .navbar .menuList {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        display: none;
    }
    .menuList li {
        line-height: 1;
    }
    .menuList li .link {
        font-size: 10px;
        font-style: italic;
    }
}